.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    background-color: #1e2a38;
    padding-top: 20px;
}

/* Estilos para los enlaces del menú */
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a.active {
    background-color: #3a7cff;
}

.sidebar a i {
    margin-right: 10px;
}

/* Estilos para el contenedor principal */
.main-content {
    margin-left: 260px;
    padding: 20px;
}